<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGakkUEbXyfann4M16v9CV-sTa915cUOdh9g&s"
        alt="img"
        height="250px"
        srcset="">
        
    </div>
    <div class="big-card__title">
        <h1><a href="=">Saiu a nova versão Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="=">
            Editar depois
            </a>
        </p>
    </div>
</div>